#titleSection {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 70px;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    color: #1A35C9;
}

.textOne {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 284px;
    border: 1px solid #1A35C9;
    border-radius: 15px 15px 13px 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.card img {
    padding: 30px;
    padding-top: 5px;
    width: 130px;
    height: auto;

}

.cardContent {
    border-top: 1px solid #1A35C9;
    padding: 10px;
    color: #1A35C9;

}

.style {
    width: 100%;
    height: 10px;
    margin: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: #1A35C9;
}

.cardSection {
   
    width: auto;
    gap: 20px;
    padding: 30px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

.mainCard {
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

#pageImage {
    width: 100px;
    padding-left: 40px;
    padding-right: 50px;
}

#iconImage {
    width: 100px;
    padding: 35px;
    padding-left: 35px;
    padding-right: 45px;
}



@media only screen and (max-width: 768px) {
    .cardSection {
        flex-direction: column;
        padding: 0px;
    }
    .mainCard{
        height: 900px;
    }
    #title{
        font-size: 50px;
    }
}