


.hero {
    width: 100%;
    height: 65vh;
    background-image: url("../../../public/taskPhoto/banner.png");
    height: 350px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    
}


.heroContent {
    width: 100%;
    padding-left: 200px;
    padding-top: 223px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}


.heroTitle {
    font-size: 70px;
    margin-inline: 0px;
    
}

.brand {
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: white;
    width: 115px;
    color: #1A35C9 ;
    font-weight: bold;
    
}


@media only screen and (max-width: 768px) {
    .hero {
        width: 100%;
        height: 65vh;
        background-image: url("../../../public/taskPhoto/banner2.png");
        height: 350px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        
    }
    .heroContent {
        width: 100%;
        padding: 20px;
        padding-top: 230px;
    }
    .heroTitle {
        font-size: 65px;
        padding-left: 13px;

    }
}
